Lab5/Service References/FacadeService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3779/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3779/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3779/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClassLibrary1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetLatestTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestTransaction" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLatestTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInvestors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvestors" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInvestors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvestorsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInvestor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvestor" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInvestor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvestorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInvestor_NotFoundExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ClassLibrary1" name="detail" element="q1:NotFoundException" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetLatestTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLatestTransaction" message="tns:IService1_GetLatestTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLatestTransactionResponse" message="tns:IService1_GetLatestTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvestors">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetInvestors" message="tns:IService1_GetInvestors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetInvestorsResponse" message="tns:IService1_GetInvestors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvestor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetInvestor" message="tns:IService1_GetInvestor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetInvestorResponse" message="tns:IService1_GetInvestor_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/GetInvestorNotFoundExceptionFault" name="NotFoundExceptionFault" message="tns:IService1_GetInvestor_NotFoundExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLatestTransaction">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLatestTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvestors">
      <soap:operation soapAction="http://tempuri.org/IService1/GetInvestors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvestor">
      <soap:operation soapAction="http://tempuri.org/IService1/GetInvestor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundExceptionFault">
        <soap:fault use="literal" name="NotFoundExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:3779/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>