HTTP/Service References/ViewService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClassLibrary1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClassLibrary1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TransactionTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionTO" nillable="true" type="tns:TransactionTO" />
</xs:schema>