Lab5/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3187/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3187/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3187/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClassLibrary1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPage" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IService1_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Refresh_InputMessage">
    <wsdl:part name="parameters" element="tns:Refresh" />
  </wsdl:message>
  <wsdl:message name="IService1_Refresh_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefreshResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DumpData_InputMessage">
    <wsdl:part name="parameters" element="tns:DumpData" />
  </wsdl:message>
  <wsdl:message name="IService1_DumpData_OutputMessage">
    <wsdl:part name="parameters" element="tns:DumpDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPage" message="tns:IService1_GetPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPageResponse" message="tns:IService1_GetPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Save" message="tns:IService1_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveResponse" message="tns:IService1_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Refresh">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Refresh" message="tns:IService1_Refresh_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RefreshResponse" message="tns:IService1_Refresh_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DumpData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DumpData" message="tns:IService1_DumpData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DumpDataResponse" message="tns:IService1_DumpData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPage">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IService1/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Refresh">
      <soap:operation soapAction="http://tempuri.org/IService1/Refresh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DumpData">
      <soap:operation soapAction="http://tempuri.org/IService1/DumpData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:3187/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>